<% if @restaurants.any? %>
  <% @restaurants.each do |restaurant| %>
    <h2><%= link_to restaurant.name, restaurant_path(restaurant) %></h2>
    <p> <%= restaurant.description %> </p>
    <% if restaurant.image_file_name %>
      <%= image_tag restaurant.image.url(:thumb) %>
    <% end %>
    <% if restaurant.reviews.any? %>
      <h3> Reviews: </h3>
      <% restaurant.reviews.each do |review| %>
        <li>
        <%= review.thoughts %> <br><br>
        <%= "Review rating: #{review.rating} out of 5" %>
        <%= link_to "Endorse Review", review_endorsements_path(review), class: 'endorsements-link' %>
        <span class='endorsements_count'> <%= review.endorsements.count %> </span> <%= 'endorsement'.pluralize(review.endorsements.count) %><br>
      </li><br>
      <% end %>
    <% end %>
    <h2>Average Rating: <%= restaurant.average_rating %></h2>

      <%if current_user %>
        <% if restaurant.user_id == current_user.id %>
          <%= link_to "Edit #{restaurant.name}", edit_restaurant_path(restaurant) %>
          <%= link_to "Delete #{restaurant.name}", restaurant_path(restaurant), method: :delete %>
        <% end %>
        <%= link_to "Review #{restaurant.name}", new_restaurant_review_path(restaurant) %>
      <% end %>
    <% end %>
<% else %>
  <h1>No restaurants yet</h1>
<%end%>
<div></div>
<br><a href='restaurants/new'>Add a restaurant</a>
